<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="all_tests">
    <test name="ui_selenide" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.pages.selenide.ProfileTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.pages.selenide.LoginTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.pages.selenide.RegistrationTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.pages.selenide.UseCasesTest"/>
        </classes>
    </test>
    <test name="rest" enabled="false">
        <classes>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.UserTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.AuthTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.JobTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.CommentTest"/>
            <class name="com.gmail.ivanytskyy.vitaliy.rest.ImageTest"/>
        </classes>
    </test>
    <test name="unit" enabled="false">
        <packages>
            <package name="com.gmail.ivanytskyy.vitaliy.unit"/>
        </packages>
    </test>
</suite>